include ../../controls/jsonator/index
+jsonator(["Status",
          {"System":status,
           "Components":app,
           "Mallocs":mallocs,
           "Tasks":tasks},
           "Status",
          {"editable": false,
           "path":"/status"}])
