include ../../controls/jsonator/index
+jsonator([undefined,data],undefined,{"editable": false,
                                      "path":"/status",
                                      "tiled": false,
                                      "expand": true,
                                      "mutations" : [
                                        {
                                            "endswith": "/commands",
                                            "mutator": "espcommand"
                                        }
                                      ]
                                     })
